:root{
    --fondo: rgb(0,0,0,0.88);
    --letras: rgb(255,255,255);
    --etiqueta: rgb(255,255,255,0.1);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Courier New', Courier, monospace;
}


h1{
    text-align: center;
    font-size: 3rem;
    color: var(--letras);
    padding-top: 2rem;

}

.fondo__oscuro{
    width: 100vw;
    height: 100vh;
    background-color: var(--fondo);
}


input{
    width: 10rem;
    margin: 2rem  auto 0;
}

label{
    font-size: 1.6rem;
    color: var(--letras);
    background-color: var(--etiqueta);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 2rem 0 auto 1rem;
}

.slide::after{
    content: '5';
    color: var(--letras);
    font-size: 1rem;
    position: absolute;
    left: 22%;
    bottom: 3%;
}

.slide::before{
    content: '1';
    color: var(--letras);
    font-size: 1rem;
    position: absolute;
    left: 15%;
    bottom: 3%;
}

label .random{
    margin-left: 10rem;
}

.slide__tema{
    width: 2rem;
/*    -webkit-appearance: none ;*/
    opacity: 0.9;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    margin-top: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0px, 1px, 1px, 1px, var(--letras);
}

.slide__tema::after{
    content: 'SI';
    color: var(--letras);
    font-size: 1rem;
    position: absolute;
    left: 32%;
    bottom: 3%;
}

.slide__tema::before{
    content: 'NO';
    color: var(--letras);
    font-size: 1rem;
    position: absolute;
    left: 30%;
    bottom: 3%;
}