:root{
    --fondo: rgb(61, 56, 56);
    --letras: rgb(255, 255, 255);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--fondo);
}

.cuadrante{
    width: 50%;
    margin: 0 auto;
    padding: 1rem 0;
    text-align: center;
}

label{
    font-size: 1.2rem;
    color: var(--letras);
}

.dibujo{
    width: calc(100vw / 1.5);
    margin: 0 auto;
    text-align: center;
}