*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    width: 100vw;
    height: 10vh;
    position: relative;
    background-image: url(./imagenes/fondo.jpg);
    background-size: auto;
/*    background-size: 150vh;*/
    background-position: center;
}
/*CSS de cabecera*/
header{
    background-color: rgba(0,0,0, .6);
}
.box__logo, .box__logo img, .box__title ,.box__barra, .box__barra li{
    display: inline-block;
}
.box{
    text-transform: uppercase;
}
.padre .box:last-child{
    margin: auto 0;
}
.box:first-child{
    width: 10%;
    float:left;
}
.box__logo{
    width: 100%;
    min-width: 150px;
    max-width: 150px;
}
.box:last-child{
    float: right;
}
.box__barra li{
    font-size: 1.4rem;
}
.box__barra li a{
    text-transform: capitalize;
    text-decoration: none;
    color: rgb(255,255,255);
    margin: 0 6px;
}
.box__barra a:hover{
    color: rgba(21, 226, 182, 0.8);
}
.box__barra a:active{
    color:rgb(82, 8, 151)
}
#titulo{
    color: rgb(255,255,255);
    padding-top: 1%;
    width: 50%;
    margin: 0 auto;
}
.box__title{
    display: block;
    font-size: 5rem;
    text-align: center;
    padding: 0 1%;
}
.box__title:last-child{
    font-size: 3rem;
}
.box__barra{
    margin: 0 10px 0 0;
    list-style: none;
}
/*CSS de principal*/
.principal{
    display: inline-block;
    width: 100%;
    height: 45rem;
}
.barra, .articulo{
    display: inline-block;
    margin: 0 1% 0 1%;
    padding: 1% 0;
}
.barra__lateral{
    display: block;
    position: relative;
    left: 0;
    text-align: center;
    margin-bottom: 1%;
}
.barra__lateral img{
    display: block;
    width: 80%;
    min-width: 100px;
    max-width: 250px;
    margin: 0 auto;
    border-radius: 15%;
}
.articulo{
    margin: 0 auto 0 5%;
    width: 70%;
    min-width: 200px;
    background-color: rgb(128, 128, 128, 0.6);
}
.video{
    width: 50%;
    text-align: center;
    margin-bottom: 1%;
    margin: 0 auto;
}
.video__principal{
    width: 100%;
    min-width: 200px;
    max-width: 900px;
}
/*CSS de pie de pagina*/
.pie{
    background-color: rgb(255,255,255, 0.5);
    text-align: center;
    margin: 0 auto;
    clear: both;
}
.pie__img img{
    width: 10rem;
    opacity: 0.6;
    padding: 1% 0;
}

