*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    background-image: url(./imagenes/fondo.jpg);
    background-attachment:fixed;
    background-position: center;
    background-size: 100%;
}
.cab, .pri, .fin{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
    margin: auto;
    color: rgb(255,255,255);
}
/*----header-----*/
.box{
    text-align: center;
}
/*------logo------*/
.logo{
    width: 100%;
}
.logo img{
    width: 100%;
    margin: 0 auto;
}
/*-----titulo-----*/
.titulo{
    display: inline-block;
    width: 100%;
    height: calc(15vh - 1rem);
    padding: 2% 0;
    text-transform: uppercase;
}
.titulo h1{
    font-size: 4rem;
    
}
.titulo h2{
    font-size: 2rem;
}
/*----barra nav-----*/
.nav{
    width: 100%;
    height: calc(15vh/2 - 1rem);
    padding: 2% 0;
}
.nav li{
    font-size: 1.8rem;
    margin: 0 1rem;
    text-transform: capitalize;
}
.nav__barra{
    list-style: none;
    text-align: center;
}
.nav__barra li{
    display: inline-block;
}
/*-----main------*/
.pri{
    text-align: center;
    width: 100%;
    height: calc(100vh/2 - 4rem);
}
.pri h1{
    width: 100%;
    font-size: 4rem;
    
}
.pri p{
    width: 100%;
    font-size: 1.8rem;
}
/*----footer-----*/
.fin{
    width: 100%;
    height: calc(20vh/2 - 2rem);
    font-size: 1.8rem;
}
.fin a{
    text-decoration: none;
    color: rgba(21, 151, 226, 0.8);
}
