*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    border: 1px solid black;
    width: 70%;
    text-align: left;
    padding-top: 0;
    margin: auto;
}

header{
    background-color: #F9B32F;
}

header > h1 {
    color:  #ffffff;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
}

/*barra de navegación*/
.list{
    background-color: #E67E22;
    margin-top: 10px;
    text-align: left;
    list-style: none;
}

.list__barra{
    display: inline-block;
    margin: 0 0;
}

.list__barra a{
    color:  #ffffff;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

.list__barra a:hover{
    color: blue;
  }

  .list__barra a:active {
    color: red;
  }

.list__barra a::after{
    content: " | ";
  }

/*sección principal del articulo*/
section{
    text-align: left;
    width: 60%;
    margin: 20px auto;
    margin-left: 40px;
    float: left;
}

.titulo{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 25px;
    text-align: justify;
}

.titulo__pr{
    display: block;;
}

h1, h2{
    font: bold 20px sans-serif;
    margin: 20px auto;
    padding-left: auto;
    padding-right: auto;
}

/*imagenes de articulos*/
.centrar{
    text-align: center;
}

.centrar a{
    color: green;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

.centrar a:hover{
    color: blue;
}

.centrar a:active{
    color: red;
}

.centrar__imagen{
    width: 80%;
}

article{
    border: 1px solid black;
    margin-bottom: 20px;
    background-color: #FDE3A7;
}

article > footer{
    text-align: right;
    padding: 0 0;
    padding-left: 20px;
    padding-right: 20px;
}

/*barra lateral*/
.columna{
    width: 30%;
    margin: 20px auto;
    float: left;
}

.columna blockquote{
    border: 1px solid black;
    padding: 50px 0;
    margin: auto 20px;
    margin-bottom: 20px;
    background-color: #FDE3A7;
}

/*pie de pagina*/
.pie{
    clear: both;
    padding: 1%;
    background-color: black;
}

.pie__ab{
    text-align: center;
    color: #ffffff;
}




