*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}
html{
    font-size: 62.5%;
    text-align: center;
}
.cabecera, .nav, .cuerpo, .pie{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 130rem;
    padding: 1rem;
    margin: 0 auto;
}
/*---Barra---*/
.nav__list {
    list-style: none;
    text-align: center;
}
.nav__list li{
    display: inline-block;
}
.nav img {
    width: 100%;
    min-width: 10rem;
    max-width: 15rem;
    margin: 0 auto;
}

/*---MAIN---*/
main{
    font-size: 1rem;
}
script{
    font-size: 1rem;
}