.container{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.c1, .c2{
    width: calc(100%/2 - 2rem);
    height: calc(100vh/3 - 4rem);
    padding: 5rem 0 5rem 0;
}
.c3, .c4, .c5{
    width: calc(100%/3 - 2rem);
    height: calc(100vh/3 - 4rem);
    padding: 4rem 3rem 4rem 3rem;
}
.c6{
    width: 100%;
    height: calc(100vh/3 - 4rem);
    padding: 6rem 0 6rem 0;
}