*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 130rem;
    padding: 3rem;
    margin: 0 auto;
}
.box{
    text-align: center;
    width: 100%;
    min-width: 15rem;
    height: calc(17vh - 1rem);
    border-radius: 1rem;
    padding: 3rem 0 3rem 0;
    margin-bottom: 3rem;
}
.c1{
    background-color: #c72929;
}
.c2{
    background-color: #df6060;
}
.c3{
    background-color: #e4b342;
}
.c4{
    background-color: #a0db32;
}
.c5{
    background-color: #43d39c;
}
.c6{
    background-color: #43b6d3;
}
