body{
    text-align: center;
    font-style: normal;
    font-family: sans-serif;
}


header{
    background-color: #02c39a;
}

header > h1 {
    display: inline-block;
    font-size: 200xp;
}

main{
    border: 1px solid black;
    height: 100vh;
}

main > form {
    padding: 100px;
    padding-top: auto;
    padding-bottom: auto;

}

.contenido{
    margin: 15px;
    display:block;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
}